archive
checkpoints
lightning_logs
outputs
feature_emotion_analysis
__pycache__

.env

data
data_my
jomon_kaen_dataset
pottery
processed

*.pth
*.csv
*.ply
*.json
*.png
*.wav
*.mp4
*.obj
*.zip
*.pdf
*.ckpt
*.xlsx